**SPAM MAIL CLASSIFICATION USING SVM  ðŸ“§**

Import libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

DATA pre-processing

In [ ]:
#load the data set to pandas data frame
raw_mail_data=pd.read_csv('mail_data.csv')
#replace null values with a null string
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
mail_data.shape

(5572, 5)

In [ ]:
mail_data.head()#sample data

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#labeling spam mail as 0 and non-spam(ham) mail as 1
mail_data.loc[mail_data['Category']=='spam','Category',]=0
mail_data.loc[mail_data['Category']=='ham','Category',]=1
mail_data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1              Will ÃƒÂ¼ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
#separate the data as text and labels;x--------> text;y-------> labels
x=mail_data['Message']
y=mail_data['Category']
print(x)
print('---------------------')
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃƒÂ¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
---------------------
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

**train test split    âš–**

In [ ]:
#train test and splitting the data 
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=3)

**Feature Extraction   ðŸ“§**

In [ ]:
#transform the text data to feature vectors that can be used as an input to the svm model using Tfidvectorizer
#convert text to lower case letters
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

#covert y_train and y_test as integers
y_train=y_train.astype('int')
y_test=y_test.astype('int')

traininng the model-------->**SVM**

In [ ]:
#using svm model to train the training data
model=LinearSVC()
model.fit(x_train_features,y_train)

LinearSVC()

**Evaluation of the model**

In [ ]:
#prediction on training data
prediction_on_training_data=model.predict(x_train_features)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)

print('accuracy on training data :',accuracy_on_training_data)

accuracy on training data : 0.9993269015032533

In [ ]:
#prediction on test data
prediction_on_test_data =  model.predict(x_test_features)
accuracy_on_test_data=accuracy_score(y_test,prediction_on_test_data)
print(accuracy_on_test_data)

0.9820627802690582

In [ ]:
input_mail=['''Payment Request''']
input_mail_features=feature_extraction.transform(input_mail)
#print(input_mail_features)
prediction=model.predict(input_mail_features)
print(prediction)
if prediction[0]==1:
  print('Ham mail')
else:
  print('spam mail')

[1]
Ham mail